<div id="dialog-tag-wrapper">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
        <div id="dialogWrapper">
            <oj-dialog style="display:none" on-oj-before-open='[[beforeOpen]]' id="dialog-tag">
                <div slot="header" class="oj-helper-clearfix"> <span id="dialogTitleId" data-bind="text: 'Alta de tag'" class="oj-dialog-title"> </span> </div>
                <div slot="body">
                    <div class="oj-flex oj-padding-top  oj-flex-items-pad">
                        <label for="nombre-textinput">Nombre</label>
                        <input id="nombre-textinput" maxlength="30" data-bind="ojComponent: {
                                component: 'ojInputText', 
                                rootAttributes: {style: 'max-width:100%;width:100%'},
                                value: nombre,
                                }" />
                    </div>
                    <div slot="footer">
                        <oj-button id="okButton-tag" style="width: 100%;max-width: 100%;" disabled=[[shouldDisableSubmit()]] data-bind="click: submit "> OK </oj-button>
                    </div>
                    <div style="display:none;" id="success-popup" data-bind="ojComponent:{component: 'ojPopup', rootAttributes: {style: 'overflow:hidden'}, position: {my: {horizontal: 'left', vertical: 'top'}, at: {horizontal: 'left', vertical: 'bottom'}}, animateStart: 'expand', animateEnd: 'collapse'}">
                        Tag registrado con éxito!
                    </div>
                    <div style="display:none;" id="failure-popup" data-bind="ojComponent:{component: 'ojPopup', rootAttributes: {style: 'overflow:hidden'}, position: {my: {horizontal: 'left', vertical: 'top'}, at: {horizontal: 'left', vertical: 'bottom'}}, animateStart: 'expand', animateEnd: 'collapse'}">
                        No se pudo insertar el tag
                    </div>
            </oj-dialog>
            </div>
        </div>
    </div>