<div data-bind="ojModule: { name: 'dialog_timbre', params: $data }"></div>
<div class="oj-flex">
    <div class="oj-flex-item oj-lg-12">
        <ul id="solicitudfacturas-listview" contextaria-label="solicitud facturas list view" data-bind="ojComponent: {component: 'ojListView', optionChange: solicitudesFacturaOptionChange, data: solicitudesFacturaDataSource, item: {template: 'solicitud_factura_template'}, selectionMode: 'single', rootAttributes: {style: 'height:45vh;'} }">
        </ul>
    </div>
</div>
<div class="oj-flex">
    <div class="oj-lg-4 oj-flex-item">
        <label for="rfc-textinput">RFC</label>
        <input pattern="([a-zñ\x26A-ZÑ\x26]{3,4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1]))([a-zA-Z\d]{3})" autocomplete="off" required id="rfc-textinput" type="text" data-bind="ojComponent: {
            component: 'ojInputText', 
            value: rfc}" />
        <label for="importe-textinput">Importe</label>
        <input autocomplete="off" required id="importe-textinput" type="text" data-bind="ojComponent: {
            component: 'ojInputText', 
            value: importe,
            validators: [{
                type: 'regExp', 
                options: {
                  pattern: '[0-9]*\.?[0-9]+', 
                  messageDetail: 
                    ''
                }
            }]}" />
        <label for="mail-textinput">Correo electrónico</label>
        <input autocomplete="off" required id="mail-textinput" type="text" data-bind="ojComponent: {
                            component: 'ojInputText', 
                            value: mail,
                            validators: [{
                                type: 'regExp', 
                                options: {
                                  pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}', 
                                  messageDetail: 
                                    'Debe ingresar el formato correcto para un correo electrónico'
                                }
                            }]}" />
        <label for="formadepago-select">Forma de pago</label>
        <select autocomplete="off" required id="formadepago-select" data-bind="ojComponent: {
                    component: 'ojSelect',  
                    value: formaPago,
                    placeholder: 'Selecciona un metodo de pago',
                    rootAttributes: {style:'max-width:100%'},
                    validators: [{
                        type: 'regExp', 
                        options: {
                          pattern: '[0-9]{10,10}', 
                          messageDetail: 
                            ''
                        }
                    }]}">
            <!-- ko foreach: formasPago -->
            <option data-bind="value:value, text:label"></option>
            <!-- /ko -->
        </select>
        <br>
        <label for="mail-textinput">Punto de venta</label>
        <input autocomplete="off" required id="mail-textinput" type="text" data-bind="ojComponent: {
            component: 'ojInputText', 
            value: pventa,
            validators: [{
                type: 'regExp', 
                options: {
                  pattern: '[0-9]*', 
                  messageDetail: 
                    'Debe ingresar el formato correcto para los puntos de venta'
                }
            }],
            rootAttributes: {style:'width:100%; max-width:100%'}}" />
        <label class="oj-label" for="pdf-upload">PDF de Factura</label>
        <input  autocomplete="off" required type="file" accept="application/pdf" id="pdf-upload">
    </div>
    <div class="oj-lg-4 oj-flex-item">
        <label for="usocfdi-select">Uso CFDI</label>
        <select autocomplete="off" required id="usocfdi-select" data-bind="ojComponent: {
            component: 'ojSelect',  
            value: usoCFDI,
            placeholder: 'Selecciona un uso de CFDI',
            rootAttributes: {style:'max-width:100%'}}">
            <!-- ko foreach: usosCFDI -->
            <option data-bind="value:value, text:label"></option>
            <!-- /ko -->
        </select>
        <br>
        <label for="mail-textinput">Teléfono</label>
        <input autocomplete="off" required id="telefono-textinput" type="text" data-bind="ojComponent: {
            component: 'ojInputText', 
            value: telefono,
            validators: [{
                type: 'regExp', 
                options: {
                  pattern: '[0-9]*', 
                  messageDetail: 
                    'Debe ingresar el formato correcto para un teléfono'
                }
            }],
            rootAttributes: {style:'width:100%; max-width:100%'}}" />
    </div>
    <!-- <input id="submit-button" class="oj-margin-top" type="button" data-bind="click: submit, 
                                ojComponent: {component: 'ojButton', label: 'Solicitar factura', disabled: shouldDisableSubmit(),
                                rootAttributes: {style:'max-width:100%'}}" /> -->
    <div style="display:none;" id="submit-popup" data-bind="ojComponent:{component: 'ojPopup',
                               rootAttributes: {style: 'overflow:hidden'},
                               position: {my: {horizontal:'start', vertical: 'top'},
                                   at: {horizontal:'end', vertical: 'bottom'}},
                               animateStart: 'expand',
                               animateEnd: 'collapse'}">
        Pedido solicitado con éxito!
    </div>
 
</div>
<script type="text/html" id="solicitud_factura_template">
    <li data-bind="attr: {id: id}">
        <div class="oj-flex">
            <div class="oj-lg-12">
                <div class="oj-flex row">
                    <div class="oj-lg-12">
                        <div class="solicitudfactura-title" data-bind="text: 'Solicitud de factura '+ id"></div>
                    </div>
                </div>
                <div class="oj-flex row">
                    <div class="oj-lg-6">
                        <span class="data"><b>Rfc: </b><span data-bind="text: rfc"></span></span>
                    </div>
                    <div class="oj-lg-6">
                        <span class="data"><b>Forma de pago: </b><span data-bind="text: formapago"></span></span>
                    </div>
                </div>
                <div class="oj-flex row">
                    <div class="oj-lg-6">
                        <span class="data"><b>Importe: </b><span data-bind="text: importe"></span></span>
                    </div>
                    <div class="oj-lg-6">
                        <span class="data"><b>Punto de venta: </b><span data-bind="text: pva"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </li>
</script>